/* utilities */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

h1 {
  font-size: 52px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

h4 {
  color: #787885;
  font-size: 14px;
}
body {
  font-family: "Open Sans", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containers {
  width: 1200px;
}

/* top sections styles */

.top-section {
  display: flex;
  align-items: center;
}

.product-info {
  margin-top: 5px;
}

#cta-one {
  background-color: #e02c6d;
  color: white;
  border-radius: 50px;
  border: none;
  width: 196px;
  height: 44px;
  left: 120px;
  top: 511px;
  font-size: 16px;
}

.head-image {
  margin-left: 210px;
}

.arrow {
  margin-left: 8px;
}

#logo {
  margin-left: 445px;
}

/* Popular Collection Section */
.collection-title {
  margin-top: 150px;
  margin-bottom: 50px;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.block {
  padding: 10px;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 300px;
  height: 476px;
  left: 196px;
  top: 1035px;
}

.block-thumbnail {
  width: 300px;
  height: 256px;
}

.price {
  font-weight: lighter;
  margin-top: 0px;
}

.filled-star {
  color: #fb8200;
}

.stroke-star {
  color: #fb8200;
}

/* Best Influencers */
.top-influencers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.top-single-influencers {
  display: flex;
  align-items: center;
}

.influencer-images {
  border-radius: 50px;
  width: 200px;
  height: 200px;
}

.influencer-info {
  margin-left: 10px;
}

.influencer-title {
  margin-top: 100px;
}

/* Footer */

footer {
  width: absolute;
  height: 239px;
  background: #0a0826;
}

.footer-info {
  color: white';
}